{% extends "base_generic.html" %}

{% block main %}

    <h1>Add a new book</h1>

    <form id="add_book_form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}

            {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}

            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
    {% endfor %}
        <input id="add_book" type="submit" value="Submit">
    </form>

    <!-- Modal -->
    <div class="modal fade" id="confirmation" tabindex="-1" role="dialog" aria-labelledby="confirmationLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">
                    Beware of duplication!
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>You've already added a book named 
                    <b><span id="book_title_modal"></span></b>.
                Do you want to add another copy of the same title?
                </p>
            </div>
            <div class="modal-footer">
                <button id="cancelled"type="button" class="btn btn-secondary" data-dismiss="modal">No, I'll check again</button>
                <button id="confirmed" type="button" class="btn btn-primary">Yes, continue</button>
            </div>
        </div>
    </div>
    </div>


<script>
    // Trigger modal if the same book title is added
    document.querySelector('#add_book').onclick = event => {
        var new_title = document.querySelector('#id_title').value;
        
        // additional info for later success message
        localStorage.setItem('add', true);
        localStorage.setItem('title', new_title);

        if ({{ added_books | safe }}.includes(new_title)) {
            event.preventDefault();
        
            // Activate confirmation modal
            document.querySelector('#book_title_modal').innerHTML = new_title;
            $('#confirmation').modal();
            document.querySelector('#confirmed').onclick = () => {
                // submit
                document.querySelector('#add_book_form').submit();
            }
            // Clear local storage data if cancelled
            document.querySelector('#cancelled').onclick  = () => {
                localStorage.clear();
            }
        };
    };
</script>
{% endblock %}