{% extends "base_generic.html" %}

{% block tittle %}
{{ bookinstance.title }}
{% endblock %}

{% block main %}

<div class="row overflow-height">
    <div class="col-md-6 text-center">
        <div class="bookInstance-background" style="background-color: #cabe9f; ">
            <img src="{{ bookinstance.cover.url }}" class="bookInstance-img img-fluid mb-5">
        </div>
    </div>
    <div class="col-md-6">
        <div class="bookInstance-details">
            <div class="bookInstance-title">
                <h1>{{ bookinstance.title }}</h1>
                <h5>Book Genres</h5>
            </div>

            <div class="bookInstance-condition">
                <div class="d-flex justify-content-between">
                    <div class="">
                        <p><b>Price</b></p>
                        <p>{{ bookinstance.price }}</p>
                    </div>
                    <div class="">
                        <p><b>Availability</b></p>
                        <p>{{ bookinstance.get_status_display }}</p>
                    </div>
                    <div class="">
                        <p><b>Condition</b></p>
                        <p>{{ bookinstance.get_condition_display }}</p>
                    </div>
                </div>

            </div>
            <div class="bookInstance-cta">
                <div class="d-flex justify-content-between">
                    <!-- Lender can edit/remove books and contact borrower -->
                    {% if user.get_username == bookinstance.created_by|stringformat:"s" %}
                    <!-- Book owner can contact Lender -->
                    {% if bookinstance.status == 'o' %}
                    <a href="{% url 'dialogs_detail' bookinstance.borrower %}">
                        <button class="btn btn-dark rounded-pill">
                            Contact Borrower
                        </button>
                    </a>
                    <!-- Book owner can only remove books not on loan -->
                    {% else%}
                    <a href="{% url 'remove-book' bookinstance.id %}">
                        <button id="remove" class="btn btn-dark rounded-pill">
                            Remove
                        </button>
                    </a>
                    {% endif %}

                    <a href="{% url 'edit-book' bookinstance.id %}">
                        <button class="btn btn-dark rounded-pill">
                            Change status
                        </button>
                    </a>

                    <!-- Borrower & others can contact Lender -->
                    {% else %}
                    <a href="/alert/{{ bookinstance.created_by }}">
                        <button class="btn btn-dark rounded-pill">
                            {% if bookinstance.status != 'a' %}
                            Contact Lender
                            {% else %}
                            Request to borrow
                            {% endif %}
                        </button>
                    </a>
                    {% endif %}
                </div>
            </div>

            <div class="bookInstance-desc mb-5">
                <h5><b>By {{ bookinstance.author }}</b></h5>
                <p>{{ bookinstance.summary }} {{ bookinstance.summary }}
                </p>
            </div>
        </div>
    </div>


</div>
<footer>
    <div class="text-center">
        <h1>
            Join our community
        </h1>
        <div class="py-4">
            <h3>Follow us</h3>
            
            <ul class="list-unstyled d-flex justify-content-center">
                <li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>
                <li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>
                <li><a href="#" class="p-2"><span class="fa fa-linkedin"></span></a></li>
                <li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li>
            </ul>
        </div>
    </div>
</footer>
<script>

</script>

{% endblock %}