{% extends "base_generic.html" %}

{% block tittle %}
{{ bookinstance.title }}
{% endblock %}

{% block main %}
<div class="container px-0 pb-1">
    <div class="row mb-1">
        <div class="col-md-4">
            <img src= "{{ bookinstance.cover.url }}" 
            class="pb-5" 
            alt="{{ bookinstance.title }}" 
            style="width: 100%; height: 100%;">
        </div>
        <div class="col-md-8 bd-content">
            <h1 class="title">{{ bookinstance.title }}</h1>
            <p class="lead author-info">By {{ bookinstance.author }}</p>
            
            <p class="mt-3">{{ bookinstance.summary }}</p>  
            
            <p><b>Lender: </b>{{ bookinstance.created_by }}</p>
            <p><b>Availability:</b>
                <span
                class="{% if bookinstance.status == 'a' %}text-success{% else %}text-warning{% endif %}">
                {{ bookinstance.get_status_display }}
                </span>
            </p>
            {% if bookinstance.status != 'a' %}
            <p><strong>Due to be returned:</strong> {{ bookinstance.due_back }}</p>
            {% else %}
            <p><strong>Condition: </strong> {{ bookinstance.get_condition_display }}</p>
            <p><strong>Price: </strong> {{ bookinstance.price }}k VND</p>
            {% endif %}
        </div>
    
    </div>
</div>

<div class="my-1">
    <div class=" text-center p-2 bd-highlight">  
        {% if bookinstance.status != 'a' %}
            <!-- Only allow lender to see these buttons -->
            {% if user.is_authenticated and user.get_username == bookinstance.created_by|stringformat:"s" %}
            <a href="#">
                <button class="mr-1 btn btn-primary" type="submit">Edit</button>
            </a>
            <a href="#">
                <button class="btn btn-primary" type="submit">Contact borrower</button>
            </a> 
            {% endif %}

        {% else %}
        <a href="#">
            <button class="btn btn-primary" type="submit">Request to borrow</button>
        </a>
        {% endif %}
    </div>
</div>

{% endblock %}