{% extends "base_generic.html" %}

{% block title %}
All books
{% endblock %}

{% block main %}
<h1>All books</h1>
<br>
{% if bookinstance_list %}
{% for book in bookinstance_list %}

<ul class="list-unstyled">
    <li class="media mb-4">
        <!-- width: height = 1.6205 -->
        <a href="{{ book.get_absolute_url }}">
        <img class="mr-4" 
            src="{{ book.cover.url }}" 
            alt="{{ book.title }}" 
            style="width: 6rem; height: 9.723rem;"></a>
            
        <div class="media-body">
            <h4 class="lead mb-3"><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h4>
            <p class="mb-0">{{ book.author }}</p>
            <p>{{ book.price }} VND</p>
    
            <h6 class="mb-0 mt-3 {% if book.status == 'a' %}text-success
                {% elif book.status == 'm' %}text-danger
                {% else %}text-warning{% endif %}">
                {{ book.get_status_display }}
            </h6>
    
            {% if book.status == 'o' %}
            <small><b>Due:</b> {{ book.due_back }}</small>
            {% endif %}
        </div>
    </li>
</ul>
{% endfor %}
{% else %}
<p>There are no books in the library.</p>
{% endif %}

{% endblock %}