{% extends "base_generic.html" %}

{% block main %}
{% if user.get_username == book_instance.created_by|stringformat:"s" %}
    <h1>Renew: {{ book_instance.title }}</h1>
    <p>Lender: {{ book_instance.created_by }}</p>
    <p>Borrower: {{ book_instance.borrower }}</p>
    <p {% if book_instance.is_overdue %} class="text-danger" {% endif %}>Due date: {{ book_instance.due_back }}</p>

    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}

            {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}

            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
    {% endfor %}
        <input type="submit" value="Submit">
    </form>

{% else %}
    <p>You do not have permissions to edit this book</p>
{% endif %}


<script>
document.addEventListener('DOMContentLoaded', () => {
    // show Borrower selector if None
    if ('book_instance.borrower' == 'None') {
        document.querySelector('#id_borrower').style.display = "none";
        document.querySelector("label[for=id_borrower]").style.display = "none";
    };

    // When status is changed to Available, renewal date will be disabled
    var renewal = document.querySelector('#id_status');
    renewal.onchange = () => {
        var renewal_value = renewal.options[renewal.selectedIndex].value;
        if (renewal_value == 'a') {
            document.querySelector('#id_due_back').disabled = true;
        }
    };
});

</script>
{% endblock %}