{% extends "base_generic.html" %}

{% block main %}
{% if user.is_authenticated and user.get_username == bookinstance.created_by|stringformat:"s" %}
    <h1>Renew: {{ book_instance.title }}</h1>
    <p>Lender: {{ book_instance.created_by }}</p>
    <p>Borrower: {{ book_instance.borrower }}</p>
    <p{% if book_instance.is_overdue %} class="text-danger" {% endif %}>Due date: {{ book_instance.due_back }}</p>

    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}

            {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}

            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
    {% endfor %}
        <input type="submit" value="Submit">
    </form>

{% else %}
<p>You do not have permissions to edit this book</p>
{% endif %}
{% endblock %}