{% extends "base_generic.html" %}

{% block main %}
<div class="alert alert-success alert-dismissible fade show" role="alert" style="display: none">
    <span id="remove_book_success" style="display: none">
        Success! <b><span id="remove_book_title"></span></b> has been removed.
    </span>
    <span id="add_book_success" style="display: none">
        Success! <b><span id="add_book_title"></span></b> has been added.
    </span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<br>
<h1>My books</h1>

<div class="py-3">
    {% if user.is_authenticated %}
    Username: {{ user.get_username }}
    {% endif %}
</div>

<ul class="nav nav-tabs nav-fill" id="my_books" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="loaned-tab" data-toggle="tab" href="#loaned" role="tab" aria-controls="loaned"
            aria-selected="true"><b>Loaned</b></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="borrowed-tab" data-toggle="tab" href="#borrowed" role="tab" aria-controls="borrowed"
            aria-selected="false"><b>Borrowed</b></a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="loaned" role="tabpanel" aria-labelledby="loaned-tab">
        <br>
        {% if loaned_books %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Status</th>
                    <th scope="col" class="no_mobile_display">Price</th>
                    <th scope="col" class="no_mobile_display">Borrower</th>
                </tr>
            </thead>
            <tbody>
                {% for bookinst in loaned_books %}
                <tr>
                    <td><a href="{% url 'book-detail' bookinst.pk %}">{{ bookinst.title }}</a></td>
                    <td>{{ bookinst.author }}</td>
                    <td>
                        {% if bookinst.status == 'o' %}
                        <span class="text-warning">
                            {{ bookinst.get_status_display }} 
                            <span style="font-size: 0.7rem;">
                                until {{ bookinst.due_back }}
                            </span>
                        </span>
                        {% else %}
                        <span class="{% if bookinst.status == 'a' %}text-success{% else %}text-danger{% endif %}">
                            {{ bookinst.get_status_display }}
                        </span>
                        {% endif %}
                    </td>
                    <td class="no_mobile_display">{{ bookinst.price }}</td>
                    <td class="no_mobile_display">
                        {% if bookinst.borrower %}
                        <a href="{% url 'dialogs_detail' bookinst.borrower %}" style="color:inherit">
                            {{ bookinst.borrower }}
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}
        <p>There are no loaned books.</p>
        {% endif %}

        <div class="my-5 text-center">
            <a href="{% url 'add-book' %}">
                <button class="btn btn-primary">
                    Add new book
                </button>
            </a>
        </div>

    </div>
    <div class="tab-pane fade" id="borrowed" role="tabpanel" aria-labelledby="borrowed-tab">
        <br>
        {% if bookinstance_list %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Due back</th>
                    <th scope="col" class="no_mobile_display">Price</th>
                    <th scope="col" class="no_mobile_display">Lender</th>
                </tr>
            </thead>
            <tbody>
                {% for bookinst in bookinstance_list %}
                <tr>
                    <td><a href="{% url 'book-detail' bookinst.pk %}">{{ bookinst.title }}</a></td>
                    <td>{{ bookinst.author }}</td>
                    <td>{{ bookinst.due_back }})</td>
                    <td class="no_mobile_display">{{ bookinst.price }}</td>
                    <td class="no_mobile_display">
                        <a href="{% url 'dialogs_detail' bookinst.borrower %}" style="color:inherit">
                            <b>{{ bookinst.created_by }}</b>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}
        <p>There are no borrowed books.</p>
        {% endif %}
    </div>

</div>

<script>
// Display success message after adding or removing books
if (localStorage.getItem('remove')) {
    document.querySelector('.alert').style.display = "block";
    document.querySelector('#remove_book_success').style.display = "block";
    document.querySelector('#remove_book_title').innerHTML = localStorage.getItem('title');

}
else if (localStorage.getItem('add')) {
    document.querySelector('.alert').style.display = "block";
    document.querySelector('#add_book_success').style.display = "block";
    document.querySelector('#add_book_title').innerHTML = localStorage.getItem('title');
};

// Clear localstorage value & hide success message before unload
window.onbeforeunload = () => {
    localStorage.clear();

    document.querySelector('.alert').style.display = "none";
    document.querySelector('#remove_book_success').style.display = "none";
    document.querySelector('#add_book_success').style.display = "none";
    console.log("1");
};
</script>
{% endblock %}