{% extends "base_generic.html" %}

{% block main %}
<h1>My books</h1>

<div class="py-3">
    {% if user.is_authenticated %}
    Username: {{ user.get_username }}
    {% endif %}
</div>

<ul class="nav nav-tabs nav-fill" id="my_books" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="loaned-tab" data-toggle="tab" href="#loaned" role="tab" aria-controls="loaned"
            aria-selected="true">Loaned</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="borrowed-tab" data-toggle="tab" href="#borrowed" role="tab" aria-controls="borrowed"
            aria-selected="false">Borrowed</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="loaned" role="tabpanel" aria-labelledby="loaned-tab">
        <br>
        {% if loaned_books %}
        <ul>
            {% for bookinst in loaned_books %}
            <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
                <a href="{% url 'book-detail' bookinst.pk %}">{{ bookinst.title}}</a> 
                {% if bookinst.status == 'o' %}
                    <span class="text-warning">
                        ({{ bookinst.get_status_display }} to 
                        <a href="{% url 'dialogs_detail' bookinst.borrower %}" style="color:inherit">
                        <b>{{ bookinst.borrower }}</b></a> 
                        - {{ bookinst.due_back }})
                    </span>
                {% else %}
                    <span class="{% if bookinst.status == 'a' %}text-success{% else %}text-danger{% endif %}">
                        ({{ bookinst.get_status_display }})
                    </span>
                    <!-- Display book along with Remove button -->
                    <form id="remove_form_{{ bookinst.id }}" action="book/remove" method="POST">
                        {% csrf_token %}
                        <input name="bookinst_id" value="{{ bookinst.id }}" style="display: none">
                    <form>
                    
                    <a href="#" class="remove" id="{{ bookinst.id }}">
                        <i class="fa fa-times" style="color: grey"></i>
                    </a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>

        {% else %}
        <p>There are no books loaned.</p>
        {% endif %}
        <div class="my-5 text-center">
            <a href="{% url 'add-book' %}">
                <button class="btn btn-primary">
                    Add new book
                </button>
            </a>
        </div>
        
    </div>
    <div class="tab-pane fade" id="borrowed" role="tabpanel" aria-labelledby="borrowed-tab">
        <br>
        {% if bookinstance_list %}
        <ul>

            {% for bookinst in bookinstance_list %}
            <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
                <a href="{% url 'book-detail' bookinst.pk %}">{{bookinst.title}}</a> 
                <span class="text-warning">
                    ({{ bookinst.get_status_display }} from 
                    <a href="{% url 'dialogs_detail' bookinst.created_by %}" style="color:inherit">
                    <b>{{ bookinst.created_by }}</b></a> 
                    - {{ bookinst.due_back }})
                </span>
            </li>
            {% endfor %}
        </ul>

        {% else %}
        <p>There are no books borrowed.</p>
        {% endif %}
    </div>

</div>
{% endblock %}

<script>
// Remove button is clicked on
    document.querySelectorAll('.remove').forEach(item => {
        item.onclick = event => {
            event.preventDefault();
            var result = confirm("Do you want to remove this book?");
            if (result) {
                var bookinst_id = bookinst.id
                var form = document.querySelector('#remove_form_' + bookinst_id)
                form.submit()
            };
        };
    });
</script>