<!DOCTYPE html>
<html>

<head>
    <title>Rent-a-book</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Parallax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>

    <!-- aos CSS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- Stylesheet -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'rentabook/style.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="../static/favicon.ico" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Raleway:500,600&display=swap" rel="stylesheet">
</head>

<body>
    <main>
        <div class="row no-gutters full-height2 mx-0 mb-5 justify-content-center align-content-stretch">
            <div class="col img-index-heading">
                <span class="text-center">
                    <a href="{% url 'books' %}" style="color:black; text-decoration: none;">
                        <h1 class="heading-index-front">Let's</h1>
                        <h1 class="heading-index-front"><i>RENT-A-BOOK</i></h1>
                    </a>
                </span>
                <div class="chevron-button text-center" style="visibility: visible; z-index: 0;">
                    <i class="fa fa-chevron-down"></i>
                </div>
            </div>
            <div class="col d-flex justify-content-start align-self-center">
                <div class="img-index-heading2">
                    <h1 class="heading-index-front">Let's</h1>
                    <h1 class="heading-index-front"><i>RENT-A-BOOK</i></h1>
                </div>
                <img class="img-index" src="../static/source_img/1.JPG">
            </div>
        </div>

        <div class="parallax-window py-5" data-parallax="scroll" data-image-src="../static/source_img/6.jpg">
            <!-- For AOS 'flip' animation to work properly in Safari, set z-index: 0 in parent div -->
            <div class="col-8 px-5" style="color:white; z-index: 0;" 
                data-aos="fade" data-aos-anchor-placement="top-center">
                <div>
                    <h1>We promise</h1>
                    <h1>you won't</h1>
                    <h1>have to buy</h1>
                    <h1><i>anymore</i></h1>
                </div>

                <a href="{% url 'books' %}" style="color:white; text-decoration: none;">
                    <h2 class="mt-5" style="width:max-content">
                        See All
                        <span class="white-line" data-aos="flip-right" data-aos-offset="-300" data-aos-duration="500"
                            data-aos-anchor-placement="top-center" data-aos-delay="300" data-aos-easing="linear"></span>
                    </h2>
                </a>
            </div>
        </div>

        <div class="d-flex pb-5">
            <div class="align-self-center" style="width: 100%">
                <div class="py-5 my-5 col-md-12 text-center">
                    <h1 data-aos="fade" data-aos-delay="100">New Arrivals</h1>
                </div>

                <!-- Carousel display -->
                <div id="newArrivals-carousel" class="carousel slide mb-5 pb-5" data-ride="carousel" data-aos="fade"
                    data-aos-delay="300" data-aos-duration="1000">
                    <ol class="carousel-indicators">
                        <li data-target="#newArrivals-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#newArrivals-carousel" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row bookRow" style="margin-right: -30px">
                                {% for book in newArrivals1%}
                                <div class="col-4 mb-5">
                                    <div class="bookRow-single">
                                        <a href="{{ book.get_absolute_url }}" class="single-book"
                                            style="display: block; --tooltip-color: {{ book.background_color }};">
                                            <div class="bookRow-background d-flex align-items-center"
                                                style="background-color: {{ book.background_color }};">
                                                <img src="{{ book.cover.url }}" alt="{{ book.title }}"
                                                    class="bookRow-img img-fluid">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="d-flex justify-content-between pt-3">
                                        <h5><b>{{ book.title }}</b></h5>
                                        <h5 class="ml-4"><b>VND{{ book.price }}</b></h5>
                                    </div>
                                    <div>
                                        <h5>{{ book.get_status_display }}</h5>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row bookRow" style="margin-right: -30px">
                                {% for book in newArrivals2%}
                                <div class="col-4 mb-5">
                                    <div class="bookRow-single">
                                        <a href="{{ book.get_absolute_url }}" class="single-book"
                                            style="display: block; --tooltip-color: {{ book.background_color }};">
                                            <div class="bookRow-background d-flex align-items-center"
                                                style="background-color: {{ book.background_color }};">
                                                <img src="{{ book.cover.url }}" alt="{{ book.title }}"
                                                    class="bookRow-img img-fluid">
                                            </div>
                                        </a>
                                    </div>

                                    <div class="d-flex justify-content-between pt-3">
                                        <h5><b>{{ book.title }}</b></h5>
                                        <h5 class="ml-4"><b>VND{{ book.price }}</b></h5>
                                    </div>
                                    <div>
                                        <h5>{{ book.get_status_display }}</h5>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                    <a class="carousel-control-prev" href="#newArrivals-carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#newArrivals-carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <!-- Simple display for mobile device -->
                <div id="newArrivals_mobileview" class="row bookRow">
                    {% for book in newArrivals1%}
                    <div class="col-10 mx-auto mb-5">
                        <div class="bookRow-single">
                            <a href="{{ book.get_absolute_url }}" class="single-book"
                                style="display: block; --tooltip-color: {{ book.background_color }};">
                                <div class="bookRow-background d-flex align-items-center"
                                    style="background-color: {{ book.background_color }};">
                                    <img src="{{ book.cover.url }}" alt="{{ book.title }}"
                                        class="bookRow-img img-fluid">
                                </div>
                            </a>
                        </div>
                        <div class="d-flex justify-content-between pt-3">
                            <h5><b>{{ book.title }}</b></h5>
                            <h5 class="ml-4"><b>VND{{ book.price }}</b></h5>
                        </div>
                        <div>
                            <h5>{{ book.get_status_display }}</h5>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>


        <div class="d-flex full-height" style="background-color: rgb(133, 132, 132)">
            <div class="container align-self-center">
                <div class="row no-gutters genres">
                    <div class="col-7 col-lg-4 order-lg-2 mx-auto">
                        <img src="../static/source_img/9.png" class="img-fluid">
                    </div>

                    <div class="col-6 col-lg-4 order-lg-1 
                        d-flex flex-column justify-content-around align-items-start"
                        style="z-index: 0;">
                        <h1 class="mb-3" data-aos="flip-up">
                            <a href="search/results/?q=biography">Biography</a>
                            <span class="white-line"></span>
                        </h1>
                        <h1 class="mb-3" data-aos="flip-up">
                            <a href="search/results/?q=fiction">Fiction</a>
                            <span class="white-line"></span>
                        </h1>
                        <h1 class="mb-3" data-aos="flip-up">
                            <a href="search/results/?q=self-help">Self-help</a>
                            <span class="white-line"></span>
                        </h1>
                    </div>

                    <div class="col-6 col-lg-4 order-lg-3
                        d-flex flex-column justify-content-around align-items-end"
                        style="z-index: 0;">
                        <h1 class="mb-3" data-aos="flip-up">
                            <a href="search/results/?q=children">Children's</a>
                            <span class="white-line"></span>
                        </h1>
                        <h1 class="mb-3" data-aos="flip-up">
                            <a href="search/results/?q=cookbook">Cookbook</a>
                            <span class="white-line"></span>
                        </h1>
                        <h1 class="mb-3" data-aos="flip-up">
                            <a href="search/results/?q=photography">Photography</a>
                            <span class="white-line"></span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="container d-flex full-height py-5 my-5">
            <div class="align-self-center">
                <div class="row no-gutters align-items-center">
                    <div class="col-5 mx-auto">
                        <img src="../static/source_img/88 2.JPG" class="img-fluid" data-aos="fade-up"
                            data-aos-offset="-100" data-aos-anchor-placement="top-bottom">
                    </div>
                    <div class="col-12 col-md-6 py-3 ml-auto" style="z-index: 0;">
                        <h1 data-aos="fade" data-aos-offset="200" data-aos-delay="100" data-aos-easing="linear"
                            data-aos-anchor-placement="top-bottom">
                            <div>We’re ready to share our passion with you</div>
                        </h1>

                        <div class="py-4" data-aos="fade" data-aos-offset="200" data-aos-delay="100"
                            data-aos-easing="linear" data-aos-anchor-placement="top-bottom">
                            <p>
                                Far far away, behind the word mountains, there live the blind texts.
                                Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                                language ocean.
                            </p>
                            <p class="mb-0">
                                A small river named Duden flows by their place and supplies it with the necessary
                                regelialia. It is a paradisematic country.
                            </p>
                        </div>
                        <a href="{% url 'login' %}" style="color:black; text-decoration: none;">
                            <h2 class="sign-in-cta" style="width:max-content" data-aos="fade" data-aos-offset="100"
                                data-aos-easing="linear" data-aos-anchor-placement="top-bottom">
                                Sign in
                                <span class="black-line" data-aos="flip-right" data-aos-offset="100"
                                    data-aos-delay="300" data-aos-easing="linear" data-aos-duration="500"
                                    data-aos-anchor-placement="top-bottom"></span>
                            </h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="parallax-window2 py-5" data-parallax="scroll" data-image-src="../static/source_img/11.jpg">
            <div class="col-10 col-sm-7 px-5 my-5" style="color:white; z-index: 0;">
                <h1 class="mb-5" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    Interested in becoming a Lender?
                </h1>
                <a href="{% url 'add-book' %}" style="color:white; text-decoration: none;">
                    <h2 style="width:max-content" data-aos="fade-up" data-aos-delay="100"
                        data-aos-anchor-placement="top-bottom">
                        Add your books now
                        <span class="white-line" data-aos="flip-right" data-aos-offset="100" data-aos-delay="250"
                            data-aos-easing="linear" data-aos-anchor-placement="top-bottom"
                            data-aos-duration="500"></span>
                    </h2>
                </a>
            </div>
        </div>

        <div class="container d-flex full-height">
            <div class="align-self-center">
                <div class="row no-gutters align-items-center">
                    <div class="col-5">
                        <h1 data-aos="fade" data-aos-delay="100">
                            Join our community
                        </h1>
                        <div class="py-4" data-aos="fade" data-aos-delay="100">
                            <h3>Follow us</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit dolor sit amet consectetur
                                adipisicing.</p>
                            <ul class="list-unstyled d-flex footer-social-index">
                                <li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#" class="p-2"><span class="fa fa-linkedin"></span></a></li>
                                <li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-7">
                        <img src="../static/source_img/22.JPG" alt="girl-reading-footer" class="img-fluid float-right"
                            style="max-height: 100vh;">
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 700,
        });

        document.querySelector('.chevron-button').onclick = e => {
            $('html, body').animate({
                scrollTop: $(window).height()
            }, 1200);
        }
    </script>
</body>

</html>