<!DOCTYPE html>
<html>

<head>
    <title>Rent-a-book</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- JS for Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- Parallax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/path/to/parallax.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>
    <!-- aos CSS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- Stylesheet -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'rentabook/style.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Cormorant|Cormorant+Garamond|Josefin+Sans|Sarabun&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Abril+Fatface|Anton|Archivo+Black|Francois+One|Passion+One&display=swap"
        rel="stylesheet">
</head>

<body>
    <main>
        <div class="row full-height">
            <div class="col-6 align-self-center pl-5 text-center">
                <h1 class="heading-index-front">Let's</h1>
                <h1 class="heading-index-front"><i>RENT-A-BOOK</i></h1>
            </div>
            <div class="col-6">
                <img id="img-index-front" src="../static/source_img/1.JPG">
            </div>

        </div>
        <!-- <div class="row full-height">
            <div class="col-6">
                <img id="img-index-front" src="../static/source_img/2.JPG">
            </div>
            <div class="col-6 align-self-center pr-5 text-center">
                <h1 class="heading-index-front">PROMISE</h1>
                <h1 class="heading-index-front">YOU WON'T NEED TO</h1>
                <h1 class="heading-index-front"><i>BUY</i> AGAIN</h1>
            </div>
        </div> -->

        <div class="parallax-window py-5" data-parallax="scroll" data-image-src="../static/source_img/6.jpg">

            <div class="col-5 px-5 my-5" style="color:white;">
                <h1>We promise</h1>
                <h1>you wont</h1>
                <h1>have to buy</h1>
                <h1><i>anymore</i></h1>
            </div>
        </div>

        <div class="container d-flex full-height">
            <div class="align-self-end">
                <div class="row align-items-start">
                    <div class="col-lg-6">
                        <img src="../static/source_img/88 2.JPG" alt="" class="img-fluid">

                    </div>
                    <div class="col-lg-6 py-4">
                        <h1 class="" style="margin-left: -7rem;">
                            <div>We’re ready to share</div>
                            <div>our passion with you</div>
                        </h1>

                        <div class="py-4" style="width: 70%;">
                        
                            <p>
                                Born from a passion for cuisine and inspired by nature’s finest flavors,
                                Pinocchio brings the most beloved Italian recipes home to you.
                            </p>
                            <p>
                                We’re ready to share our passion with you for lunch, dinner, and every meal in-between.
                            </p>
                            <p>
                                We have committed ourselves at Pinocchio to providing a meal that anyone and everyone can
                                enjoy:
                                always finding new and exciting ways to bring Italian flavors to your plate.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="parallax-window py-5" id="img-genres" data-parallax="scroll"
            data-image-src="../static/source_img/8.jpg">
            <div class="text-center px-5 my-5" style="color:white;">
                <h1>All Genres</h1>
            </div>
        </div> -->

        <div class="container full-height">
            <div class="py-5 col-md-12 text-center">
                <h2>All Genres</h2>
            </div>
            <div class="row">
                <div class="col-3 text-center mb-3">
                    <a href="#">
                        <button class="btn rounded-pill">Self-help</button>
                    </a>
                </div>
                <div class="col-3 text-center mb-3">
                    <a href="#">
                        <button class="btn rounded-pill">Self-help</button>
                    </a>
                </div>
                <div class="col-3 text-center mb-3">
                    <a href="#">
                        <button class="btn rounded-pill">Self-help</button>
                    </a>
                </div>
                <div class="col-3 text-center mb-3">
                    <a href="#">
                        <button class="btn rounded-pill">Self-help</button>
                    </a>
                </div>
                <div class="col-3 text-center mb-3">
                    <a href="#">
                        <button class="btn rounded-pill">Self-help</button>
                    </a>
                </div>
                <div class="col-3 text-center mb-3">
                    <a href="#">
                        <button class="btn rounded-pill">Self-help</button>
                    </a>
                </div>
                <div class="col-3 text-center mb-3">
                    <a href="#">
                        <button class="btn rounded-pill">Self-help</button>
                    </a>
                </div>
                <div class="col-3 text-center mb-3">
                    <a href="#">
                        <button class="btn rounded-pill">Self-help</button>
                    </a>
                </div>

            </div>

        </div>


    </main>

    <script>

    </script>
</body>

</html>