<!DOCTYPE html>
<html>

<head>
    <title>Rent-a-book</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- JS for Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- Parallax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/path/to/parallax.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>

    <!-- aos CSS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- Stylesheet -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'rentabook/style.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Raleway:400,600&display=swap" rel="stylesheet">
</head>

<body>
    <main>
        <div class="row full-height mx-0">
            <div class="col-lg-6 col-sm-5 col-xs-12 align-self-center px-0 text-center">
                <h1 class="heading-index-front">Let's</h1>
                <h1 class="heading-index-front"><i>RENT-A-BOOK</i></h1>
            </div>
            <div class="col-lg-6 col-sm-7 col-xs-0 px-0" style="overflow: hidden">
                <img class="img-index" src="../static/source_img/1.JPG">
            </div>
        </div>

        <div class="parallax-window py-5" data-parallax="scroll" data-image-src="../static/source_img/6.jpg">

            <div class="col-sm-5 col-xs-8 px-5" style="color:white;">
                <div data-aos="fade-up" data-aos-delay="200" data-aos-anchor-placement="top-center">
                    <h1>We promise</h1>
                    <h1>you won't</h1>
                    <h1>have to buy</h1>
                    <h1><i>anymore</i></h1>
                </div>

                <a href="{% url 'books' %}" style="color:white; text-decoration: none;">
                    <h2 class="mt-5" style="width:fit-content" data-aos="fade" data-aos-offset="-100"
                        data-aos-anchor-placement="top-center">
                        Find books
                        <span class="line" data-aos="flip-right" data-aos-offset="-100"
                            data-aos-anchor-placement="top-center" data-aos-delay="250" data-aos-easing="linear"></span>
                    </h2>
                </a>
            </div>
        </div>
        <div class="py-5 my-5">
            <div class="d-flex full-height">
                <div class="align-self-center" style="width: 100%">
                    <div class="py-5 mb-5 col-md-12 text-center">
                        <h1 data-aos="fade" data-aos-delay="100">New Arrivals</h1>
                    </div>
                    <div id="newArrivals-carousel" class="carousel slide mb-5" data-ride="carousel" data-aos="fade"
                        data-aos-delay="300" data-aos-duration="1000">
                        <ol class="carousel-indicators">
                            <li data-target="#newArrivals-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#newArrivals-carousel" data-slide-to="1"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row bookRow">
                                    {% for book in newArrivals1%}
                                    <div class="col-4 mb-5">
                                        <div class="bookRow-single">
                                            <a href="{{ book.get_absolute_url }}" class="single-book"
                                                style="display: block; --tooltip-color: {{ book.background_color }};">
                                                <div class="bookRow-background"
                                                    style="background-color: {{ book.background_color }};">
                                                    <img src="{{ book.cover.url }}" alt="{{ book.title }}"
                                                        class="bookRow-img img-fluid">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="d-flex justify-content-between pt-3">
                                            <h5><b>{{ book.title }}</b></h5>
                                            <h5 class="ml-4"><b>VND{{ book.price }}</b></h5>
                                        </div>
                                        <div class="">
                                            <h5>{{ book.get_status_display }}</h5>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row bookRow">
                                    {% for book in newArrivals2%}
                                    <div class="col-4 mb-5">
                                        <div class="bookRow-single">
                                            <a href="{{ book.get_absolute_url }}" class="single-book"
                                                style="display: block; --tooltip-color: {{ book.background_color }};">
                                                <div class="bookRow-background"
                                                    style="background-color: {{ book.background_color }};">
                                                    <img src="{{ book.cover.url }}" alt="{{ book.title }}"
                                                        class="bookRow-img img-fluid">
                                                </div>
                                            </a>
                                        </div>

                                        <div class="d-flex justify-content-between pt-3">
                                            <h5><b>{{ book.title }}</b></h5>
                                            <h5 class="ml-4"><b>VND{{ book.price }}</b></h5>
                                        </div>
                                        <div class="">
                                            <h5>{{ book.get_status_display }}</h5>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                        <a class="carousel-control-prev" href="#newArrivals-carousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#newArrivals-carousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="d-flex full-height" style="background-color: rgb(133, 132, 132)">
            <div class="container align-self-center">
                <div class="row genres">
                    <div class="d-flex flex-column justify-content-around align-items-start col-3">
                        <h1 class="mb-3" data-aos="flip-up">
                            <a href="search/results/?q=biography">Biography</a>
                            <span class="line" data-aos="flip-right" data-aos-offset="100" data-aos-delay="250"
                                data-aos-easing="linear" data-aos-anchor-placement="top-bottom"></span>
                        </h1>
                        <h1 class="mb-3" data-aos="flip-up">
                            <a href="search/results/?q=fiction">Fiction</a>
                            <span class="line" data-aos="flip-right" data-aos-offset="100" data-aos-delay="250"
                                data-aos-easing="linear" data-aos-anchor-placement="top-bottom"></span>
                        </h1>
                        <h1 class="mb-3" data-aos="flip-up">
                            <a href="search/results/?q=self-help">Self-help</a>
                            <span class="line" data-aos="flip-right" data-aos-offset="100" data-aos-delay="250"
                                data-aos-easing="linear" data-aos-anchor-placement="top-bottom"></span>
                        </h1>
                    </div>

                    <div class="col-5 mx-auto">
                        <img src="../static/source_img/9.png" class="img-fluid">
                    </div>

                    <div class="d-flex flex-column justify-content-around 
                    align-items-end col-3">
                        <h1 class="mb-3" data-aos="flip-up">
                            <a href="search/results/?q=children">Children's</a>
                            <span class="line" data-aos="flip-right" data-aos-offset="100" data-aos-delay="250"
                                data-aos-easing="linear" data-aos-anchor-placement="top-bottom"></span>
                        </h1>
                        <h1 class="mb-3" data-aos="flip-up">
                            <a href="search/results/?q=cookbook">Cookbook</a>
                            <span class="line" data-aos="flip-right" data-aos-offset="100" data-aos-delay="250"
                                data-aos-easing="linear" data-aos-anchor-placement="top-bottom"></span>
                        </h1>
                        <h1 class="mb-3" data-aos="flip-up">
                            <a href="search/results/?q=photography">Photography</a>
                            <span class="line" data-aos="flip-right" data-aos-offset="100" data-aos-delay="250"
                                data-aos-easing="linear" data-aos-anchor-placement="top-bottom"></span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container d-flex full-height py-5 my-5">
            <div class="align-self-center">
                <div class="row align-items-center">
                    <div class="col-5">
                        <img src="../static/source_img/88 2.JPG" alt="" class="img-fluid" data-aos="fade-up"
                            data-aos-offset="200" data-aos-anchor-placement="top-bottom">
                    </div>
                    <div class="col-6 py-3 ml-auto">
                        <h1 data-aos="fade" data-aos-offset="200" data-aos-delay="100" data-aos-easing="linear"
                            data-aos-anchor-placement="top-bottom">
                            <div>We’re ready to share our passion with you</div>
                        </h1>

                        <div class="py-4" data-aos="fade-up" data-aos-offset="200" data-aos-delay="100"
                            data-aos-easing="linear" data-aos-anchor-placement="top-bottom">
                            <p>
                                Born from a passion for cuisine and inspired by nature’s finest flavors,
                                Pinocchio brings the most beloved Italian recipes home to you.
                            </p>
                            <p>
                                We’re ready to share our passion with you for lunch, dinner, and every meal in-between.
                            </p>
                        </div>
                        <a href="{% url 'login' %}" style="color:black; text-decoration: none;">
                            <h2 class="sign-in-cta pb-4" style="width:fit-content" data-aos="fade" data-aos-offset="100"
                                data-aos-easing="linear" data-aos-anchor-placement="top-bottom">
                                Sign in
                                <span class="line" style="background:black;" data-aos="flip-right" data-aos-offset="100"
                                    data-aos-delay="300" data-aos-easing="linear"
                                    data-aos-anchor-placement="top-bottom"></span>
                            </h2>
                        </a>

                    </div>
                </div>
            </div>
        </div>

        <div class="parallax-window2 py-5" data-parallax="scroll" data-image-src="../static/source_img/11.jpg">

            <div class="col-10 col-sm-7 px-5 my-5" style="color:white;">
                <h1 class="mb-5" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    Interested in becoming a Lender?
                </h1>
                <a href="{% url 'add-book' %}" style="color:white; text-decoration: none;">
                    <h2 style="width:fit-content" data-aos="fade-up" data-aos-delay="100"
                        data-aos-anchor-placement="top-bottom">
                        Add your books now
                        <span class="line" data-aos="flip-right" data-aos-offset="100" data-aos-delay="250"
                            data-aos-easing="linear" data-aos-anchor-placement="top-bottom"></span>
                    </h2>
                </a>
            </div>

        </div>



        <div class="container pr-0 mr-0 d-flex full-height">
            <div class="align-self-end">
                <div class="row align-items-center">
                    <div class="col-4 mr-auto">
                        <h1 data-aos="fade" data-aos-delay="100">
                            Join our community
                        </h1>

                        <div class="py-4" data-aos="fade" data-aos-delay="100">
                            <h3>Follow us</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit dolor sit amet.</p>
                            <ul class="list-unstyled footer-link d-flex footer-social">
                                <li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#" class="p-2"><span class="fa fa-linkedin"></span></a></li>
                                <li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-7">
                        <img src="../static/source_img/22.JPG" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>


    </main>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 700,
            // once: true,
        });
    </script>
</body>

</html>