{% extends "base_generic.html" %}

{% block tittle %}
Book search
{% endblock %}

{% block main %}
<div class="row full-height">
    <div class="col-12 col-md-6 align-self-center px-5">
            <h2 class="px-5 pb-5">Search for title or author</h2>
        <form action="{% url 'search-results' %}" method="GET">
            <div class="form-group form-control-lg mb-5 pb-5 px-5">
                <input autocomplete="off" class="form-control search shadow-none px-0" name="q"
                    placeholder="Start typing..." type="text" style="">
            </div>

            <div class="form-group px-5">
                <button class="btn btn-dark rounded-pill" type="submit">Search</button>
            </div>
        </form>
    </div>
    <div class="col-md-6" style="overflow: hidden;">
        <img class="img-search" src="../static/source_img/3.JPG">
    </div>

</div>
<script>
    document.querySelector('.navbar-light').classList.remove('bg-light');
</script>

{% endblock %}