{% extends "base_generic.html" %}

{% block tittle %}
Book search
{% endblock %}

{% block main %}
<div class="row full-height">
    <div class="col-6 align-self-center px-5">
            <h2 class="px-5 pb-5">Search for title or author</h2>
        <form action="{% url 'search-results' %}" method="GET">
            <div class="form-group form-control-lg mb-5 pb-5 px-5">
                <input autocomplete="off" class="form-control shadow-none px-0" name="q"
                    placeholder="Start typing..." type="text" style="">
            </div>

            <div class="form-group px-5">
                <button class="btn btn-dark rounded-pill" type="submit">Search</button>
            </div>
        </form>
    </div>
    <div class="col-6">
        <img class="img-index" src="../static/source_img/3.JPG">
    </div>

</div>
<!-- <div class="row justify-content-center align-items-center">
    <h2 class="pb-4">Input title, author or ISBN</h2>
</div>

<div class="row justify-content-center align-items-center">
    <div class="col col-sm-8 col-md-8 col-lg-6 col-xl-6">
        <form action="{% url 'search-results' %}" method="get">
            <div class="form-group pb-3">
                <input autofocus autocomplete="off" class="form-control" name="q" 
                placeholder="What are you searching for?" type="text" style="max-width: 700px;">
            </div>
            
            <div class="form-group text-center">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </form>
    
</div> -->

{% endblock %}