{% extends "base_generic.html" %}

{% block tittle %}
Book search
{% endblock %}

{% block main %}
<div class="d-flex full-height justify-content-center" style="height: 90vh;">
    <div class="row align-self-center">
        <div class="col-12 col-md-6 align-self-center py-5" data-aos="fade" data-aos-delay="100">
            <h1 class="px-5 pb-5">Search for title or author</h1>
            <form action="{% url 'search-results' %}" method="GET">
                <div class="form-group form-control-lg mb-5 pb-5 px-5">
                    <input autocomplete="off" class="form-control search shadow-none px-0" name="q"
                        placeholder="Start typing..." type="text" style="font-size: 1.3em;">
                </div>

                <div class="form-group px-5">
                    <button class="btn btn-dark rounded-pill" type="submit">Search</button>
                </div>
            </form>
        </div>
        <div class="col-6">
            <img class="img-search img-fluid" src="../static/source_img/3.JPG" data-aos="fade" data-aos-delay="100">
        </div>
    </div>
</div>
<script>
    document.querySelector('.navbar-light').classList.remove('bg-light');
</script>

{% endblock %}