{% extends "base_generic.html" %}

{% block title %}
Log in
{% endblock %}

{% block main %}

<div class="container my-5">
    <div class="row mx-0">
        <div class="my-4">
            <h1>Log in</h1>
        </div>
    </div>

    {% if form.errors %}
    <p style="color: red">Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <button class="btn btn-dark rounded-pill my-4" type="submit" value="login">Log in</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <p>No account yet? <a href="{% url 'register'%}">Click here to register.</a></p>
</div>

<script>
    // Return to book page referrer instead of jumping to alert book lender
    if (window.location.href.indexOf("next=/alert/") > -1 ) {
        console.log("1")
        var x = document.referrer;
        var url_split = x.split('/');
        window.location.replace('/accounts/login/?next=/' + url_split[3] + '/' + url_split[4]);
    }
</script>
{% endblock %}