h1, h2, h3 {
font-family: 'Merriweather';
}

h2 {
font-weight: 900;
font-size: 50px;
}

.btn {
font-size: 18px;
}

button[id="sidebarCollapse"] {
font-size: 1.2rem;
padding: 0;
}


.form-control {
font-size: 18px; 
}

* {
margin: 0;
padding: 0;
}

#chatbox {
position: relative;
width: 100%;
max-width: 700px;
min-width: 300px;
height: 90vh;
box-sizing: border-box;
}

.chat-head {
position: relative;
display: flex;
overflow: auto;
width: 100%;
height: 10vh;
min-height: 90px;
}

.chat-body {
position: relative;
overflow-y: scroll;
height: 70vh;
min-height: 100px;

}

.chat-foot {
position: relative;
bottom: 0;
width: 100%;
height: 10vh;
}

.chat-body a {
  text-decoration: none;
  color: black;
}
hr {
margin: 0;
}

/* #all_channels {
width: 300px;
background-color: rgb(223, 222, 222);
} */

ul {
list-style-type: none;
}

.sidebar-head {
height: 10vh;
}

.timestamp, .timestamp i {
visibility: hidden;
color: rgb(168, 167, 167);
margin-left: 20px;
margin-right: 20px;
/* margin-bottom: 0; */
font-size: 0.9rem;
}

.outgoing-message:hover > .timestamp,
.outgoing-message:hover > .timestamp i,
.incoming-message:hover > .timestamp {
visibility: visible;
}

.vertical-nav {
min-width: 18rem;
width: 18rem;
height: 90vh;
/* position: fixed; */
position: absolute;
left: 0;
transition: all 0.2s;
}

#dialogs {
display: block;
overflow-y: auto;
height: 70vh;
}

.page-content {
width: calc(100% - 18rem);
margin-left: 18rem;
transition: all 0.2s;
}

#sidebar.active {
margin-left: -18rem;
}

#content.active {
width: 100%;
margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -18rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 18rem;
    width: calc(100% - 18rem);
  }

}

.text-gray {
font-size: 1.2rem; 
color:gray;
}

.outgoing-message p {
background: #cabe9f;
border-radius: 15px 15px 0px 15px;
margin: 0;
color: #fff;
line-height: 1.2rem;
padding: 10px 10px 10px 10px;
}

.incoming-message p {
background: #F3F3F3;
border-radius: 15px 15px 15px 0px;
margin: 0;
color: black;
line-height: 1.2rem;
padding: 10px 10px 10px 10px;
}

.bookbot {
  background-color: rgb(219, 219, 219);
  border-radius: 15px;
}

i:hover,
i:focus,
i:active, 
.dialog:hover,
.dialog:focus,
.dialog:active,
.nav-item.active h6 {
color:#796b49;
}

.dialog {
display: block;
color:black;
}
.nav-item.active {
border-radius: 15px 15px 15px 15px;
background-color: rgb(242, 242, 242);
}

.dialog > div {
max-width: 17rem;
}

.latest-message {
font-size: 14px; 
color: rgb(168, 167, 167);
}

.convo-unread, .convo-unread h6 {
font-weight: bold; 
}
.opponent-name {
color: rgb(129, 129, 129);
font-weight: bold;
}

p[class="avatar text-center"] {
width: 50px;
height: 50px;
line-height: 50px;
font-size: 30px;
margin-bottom: 0;
padding: 0;
color: white;
background-color: rgb(129, 129, 129);
border-radius: 100px;
}

.username {
width: 50px;
height: 50px;
line-height: 50px;
font-size: 30px;
padding: 0;
color: white;
background-color: #cabe9f;
border-radius: 100px;

}

.fa.fa-paper-plane {
font-size: 1.7rem; 
color: #cabe9f;
}

.form-control:focus {
border-color: #ced4da;
}

.fa-circle {
color: #cabe9f;
font-size: 0.8rem;
}

.btn.btn-primary {
background-color: #cabe9f;
border-color: #cabe9f;
}

.btn.btn-primary:focus,
.btn.btn-primary:active, 
.btn.btn-primary:active:hover {
background-color: rgb(250, 98, 121);
border-color: rgb(250, 105, 127);
}


===============
/* html, body {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

#chatbox {
position: relative;
width: 100%;
max-width: 700px;
min-width: 300px;
height: 80vh;
box-sizing: border-box;
}

.chat-head {
position: relative;
top: 0;
width: 100%;
height: 10vh;
min-height: 90px;
}

.chat-body {
position: relative;
overflow-y: scroll;
height: 50vh;
min-height: 100px;

}

.chat-foot {
position: relative;
bottom: 0;
width: 100%;

height: 10vh;
}

.chat-alert {
  position: relative;
  width: 600px;
  padding: 0.7rem;
  margin: 1rem;
  border: solid #f7f7f9;
  background-color: #f7f7f9;
  border-width: .1rem;
}
hr {
  margin: 0;
}

#all_channels {
  width: 300px;
  background-color: lightgray;
}

ul {
  list-style-type: none;
}

.sidebar-head {
  height: 10vh;
}

.timestamp {
  visibility: hidden;
  color: rgb(168, 167, 167);
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0.7rem;
}
.single-message:hover > .timestamp {
  visibility: visible;
}

.vertical-nav {
  min-width: 14rem;
  width: 14rem;
  height: 100vh;
  position: fixed;
  left: 0;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.page-content {
  width: calc(100% - 14rem);
  margin-left: 14rem;
  transition: all 0.4s;
}


#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }

}

.text-gray {
  font-size: 1.2rem; 
  color:gray;
} */
/* .convo-unread::after {
  content:"\f27b";
  margin-left: 5px;
} */

/* .user-list li {
  display: block;
  color: orange;
  font-weight: bold;
}

.username {
  font-weight: bold;
  color: orange;
}

.timestamp {
  font-size: 12px;
  color: #ffffff;
}

.add-message {
  margin-top: 20px;
}

.away span {
  color: #666;
  font-style: italic;
  font-weight: normal;
}

.msg-read {
  background-color: lightgray;
}

.msg-unread {
  background-color: #aacc99;
} */
