html, body {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

#chatbox {
position: relative;
width: 100%;
max-width: 700px;
min-width: 300px;
height: 80vh;
box-sizing: border-box;
}

.chat-head {
position: relative;
top: 0;
width: 100%;
height: 10vh;
min-height: 90px;
}

.chat-body {
position: relative;
overflow-y: scroll;
height: 50vh;
min-height: 100px;

}

.chat-foot {
position: relative;
bottom: 0;
width: 100%;

height: 10vh;
}

.chat-alert {
  position: relative;
  /* width: 100%; */
  width: 600px;
  padding: 0.7rem;
  margin: 1rem;
  border: solid #f7f7f9;
  background-color: #f7f7f9;
  border-width: .1rem;
}
hr {
  margin: 0;
}

#all_channels {
  width: 300px;
  background-color: lightgray;
}

ul {
  list-style-type: none;
}

.sidebar-head {
  height: 10vh;
}

/* #user_name::before {
  content: "\f111"; 
  color: rgb(11, 156, 11);
  margin-right: 6px;
  font-size: 0.8em;
  font-family: FontAwesome;
  display: inline-block; 
} */

.timestamp {
  color: rgb(168, 167, 167);
  margin-left: 20px;
  font-size: 0.7rem;
}

/* Vertical nav */
.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  /* top: 0; */
  left: 0;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}
/* .convo-unread::after {
  content:"\f27b";
  margin-left: 5px;
} */

/* .user-list li {
  display: block;
  color: orange;
  font-weight: bold;
}

.username {
  font-weight: bold;
  color: orange;
}

.timestamp {
  font-size: 12px;
  color: #ffffff;
}

.add-message {
  margin-top: 20px;
}

.away span {
  color: #666;
  font-style: italic;
  font-weight: normal;
}

.msg-read {
  background-color: lightgray;
}

.msg-unread {
  background-color: #aacc99;
} */
