{% extends "base_generic.html" %}
{% load static %}
{% block extrastatic %}
<link rel="stylesheet" href="../../static/django_private_chat/style.css">
{% endblock %}
{% load i18n %}


{% block tittle %}
Chat | {{ opponent_username }}
{% endblock %}

{% block main %}
<div class="container">
    <div class="row flex-nowrap">
        <input id="owner_username" type="hidden" value="{{ request.user.username }}">
        <div class="vertical-nav border-right bg-white py-2" id="sidebar">
            <a href="/" style="text-decoration: none;">
                <p class="text-gray font-weight-bold px-2 mx-3 mb-2">CHATS</p>
            </a>
            <div class="chat-head align-items-center px-2 mx-3">
                <div class="align-self-center mr-2 px-0">
                    <p class="username text-center">{{ request.user.username|first }}</p>
                </div>
                <div class="text-truncate px-0">
                    <h4 class="m-0" id="user_name">{{ request.user.username }}</h4>
                    <p class="text-success">Online</p>
                </div>
            </div>


            <div id="dialogs" class="nav bg-white mb-0">
                {% for dialog in object_list %}
                <li class="nav-item">
                    {% if dialog.owner == request.user %}
                    {% with dialog.opponent.username as username and dialog.messages.last as last_mess %}
                    <a href="{% url 'dialogs_detail' username %}" id="user-{{ username }}"
                        class="mx-3 nav-item dialog {% if username == opponent_username %}active{% endif %}
                        {% if dialog.messages.all|length > 0 and not last_mess.read and last_mess.sender != request.user %}convo-unread{% endif %}" data-name="{{ username }}"
                        style="text-decoration: none;">
                        <div class="rounded-pill px-2 py-3">
                            <span class="d-flex justify-content-start">
                                <span class="align-self-center mr-2">
                                    <p class="avatar text-center">{{ username|first }}</p>
                                </span>
                                <span class="text-truncate">
                                    <h6 id="{{ username }}">
                                        {{ username }}

                                        <!-- If there are unread messages (as in the last mess is unread) for request.user -->
                                        {% if dialog.messages.all|length > 0 and not last_mess.read and last_mess.sender != request.user %}

                                        <i class="fa fa-circle float-right" id="unread-{{ username }}"></i>
                                        {% endif %}

                                    </h6>
                                    <p class="mb-0 latest-message">
                                        {% if dialog.messages.all|length > 0 %}
                                        {{ last_mess.sender }}: {{ last_mess.text }}
                                        {% endif %}
                                    </p>
                                </span>
                            </span>
                        </div>



                    </a>
                    {% endwith %}

                    {% else %}
                    {% with dialog.owner.username as username and dialog.messages.last as last_mess %}
                    <a href="{% url 'dialogs_detail' username %}" id="user-{{ username }}"
                        class="mx-3 nav-item dialog {% if username == opponent_username %}active{% endif %}
                        {% if dialog.messages.all|length > 0 and not last_mess.read and last_mess.sender != request.user %}convo-unread{% endif %}" data-name="{{ username }}"
                        style="text-decoration: none;">
                        <div class="rounded-pill px-2 py-3">
                            <span class="d-flex justify-content-start">
                                <span class="align-self-center mr-2">
                                    <p class="avatar text-center">{{ username|first }}</p>
                                </span>
                                <span class="text-truncate">
                                    <h6 id="{{ username }}">
                                        {{ username }}

                                        <!-- If there are unread messages (as in the last mess is unread) for request.user -->
                                        {% if dialog.messages.all|length > 0 and not last_mess.read and last_mess.sender != request.user %}

                                        <i class="fa fa-circle float-right" id="unread-{{ username }}"></i>
                                        {% endif %}

                                    </h6>
                                    <p class="mb-0 latest-message">
                                        {% if dialog.messages.all|length > 0 %}
                                        {{ last_mess.sender }}: {{ last_mess.text }}
                                        {% endif %}
                                    </p>
                                </span>


                            </span>
                        </div>

                    </a>
                    {% endwith %}
                    {% endif %}
                </li>
                {% endfor %}

                </ul>
            </div>
        </div>

        <main class="page-content p-2" id="content">

            <div id="chatbox" class="d-flex flex-column">
                <!-- Toggle button -->
                <button id="sidebarCollapse" type="button" class="btn shadow-none align-self-start mb-2">
                    <i class="text-gray fa fa-chevron-left" style="font-size: 1.4rem;"></i>
                </button>
                {% if active_dialog %}
                <div class="chat-head align-items-center">
                    <div>
                        <h4 id="channel_title" class="m-0">{{ opponent_username }}</h4>
                        <p class="text-success" id="online-status" style="display: none">{% trans "Online" %}</p>
                        <p class="text-danger" id="offline-status" style="display: none">{% trans "Offline" %}</p>
                    </div>
                </div>
                <hr>
                <div id="messages" class="chat-body py-3">
                    {% for msg in active_dialog.messages.all %}
                    <div class="row my-2 {% if msg.read %}msg-read{% else %}msg-unread{% endif %}
                    {% if msg.sender != request.user %}opponent{% endif %}" data-id="{{ msg.id }}">
                        <!-- Bookbot's messages -->
                        {% if msg.sender|stringformat:"s" == "Bookbot" %}
                        <div class="bookbot col-md-8 mx-auto p-3 my-4">
                            <a href="{{ msg.note }}">
                                <div class="chat-alert text-center">
                                    Inquiring about <b>{{ msg.text }}</b>
                                </div>
                            </a>
                        </div>
                        {% else%}

                        <!-- User's messages -->
                        {% if msg.sender == request.user %}
                        <div class="col-md-11 ml-auto">
                            <span id="{{ message.mess_id }}" class="d-flex justify-content-end outgoing-message">
                                <span class="timestamp align-self-center"
                                    data-livestamp="{{ msg.get_formatted_create_datetime }}">
                                    {{ msg.get_formatted_create_datetime }}
                                </span>
                                <p class="mr-2 text-break">{{ msg.text }}</p>

                            </span>
                        </div>

                        <!-- Opponent's messages -->
                        {% else %}
                        <div class="col-md-11 mr-auto">
                            <span id="{{ message.mess_id }}" class="d-flex justify-content-start">
                                <span class="d-flex incoming-message" data-id="{{ message.mess_id }}">
                                    <p class="text-break">{{ msg.text }}</p>
                                    <span class="timestamp align-self-center"
                                        data-livestamp="{{ msg.get_formatted_create_datetime }}">
                                        {{ msg.get_formatted_create_datetime }}
                                    </span>

                                </span>

                            </span>
                        </div>

                        {% endif %}
                        {% endif %}
                    </div>

                    <!-- Display welcome mess if this is a new channel -->
                    {% empty %}
                    <p id="welcome">
                        <i>This is the beginning of your conversation with <b>{{ opponent_username }}</b>.</i>
                    </p>
                    {% endfor %}

                    <!-- Display opponent is typing -->
                    <div class="col-md-3 col-md-offset-9">
                        <span class="ml-3 mr-auto" hidden id="typing-text">
                            <strong>{{ opponent_username }} {% trans "is typing..." %}</strong>
                        </span>
                    </div>
                </div>

                <div id="type_message" class="chat-foot mt-auto mb-3">
                    <div class="form-group d-flex">
                        <input autocomplete="off" class="form-control chat rounded-pill shadow-none" id="chat-message"
                            placeholder="Write a message" type="text">
                        <div>
                            <button id="send" class="btn send-message py-1 shadow-none" type="submit">
                                <i class="fa fa-paper-plane"></i>
                            </button>
                        </div>
                    </div>
                </div>

                {% else %}
                <!-- No dialog to display -->
                <div class="chat-head align-items-start">
                    <div>
                        <h4 id="no_dialog_title">Oopsiee...</h4>
                        <p class="text-danger" id="offline-status" style="display: none">{% trans "Offline" %}</p>
                    </div>
                </div>
             
                <div id="no_dialog_messages" class="chat-body py-3">
                    <p>No dialogs yet :(</p>
                    <p>Let's <a href="{% url 'books' %}"><u>browse</u></a> for some books and message Book Lenders.</p>
                </div>
                {% endif %}
            </div>
        </main>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/scrollmonitor/1.2.0/scrollMonitor.js"
    integrity="sha256-BseZlDlA+yL4qu+Voi82iFa5aaifralQEXIjOjaXgeo=" crossorigin="anonymous"></script>
<script id="ws_new_message" type="text/x-handlebars-template">
    {% verbatim %}
    {{#with data}}
    <!-- User's messages -->
    {{#if_eq sender_name}}
    <div class="row my-2 msg-unread">
        <div class="col-md-8 ml-auto">
            <span id="{{{ message_id }}}" 
                class="d-flex justify-content-end outgoing-message" data-id="{{{ message_id }}}">
                    <span class="timestamp align-self-center" data-livestamp="{{{ created }}}">
                        {{{ created }}}
                    </span>
                    <p class="mr-2 text-break">{{{ message }}}</p>
            </span>                           
        </div>
    </div>

    <!-- Opponent's messages -->
    {{ else }}
    <div class="row my-2 msg-unread opponent">
        <div class="col-md-8 mr-auto">
            <span id="{{{ message_id }}}" 
                class="d-flex justify-content-start">
                <span class="d-flex incoming-message" data-id="{{{ message_id }}}">
                    <p class="text-break">{{{ message }}}</p>
                    <span class="timestamp align-self-center" 
                    data-livestamp="{{ created }}">
                        {{{ created }}}
                    </span>
                </span>
             
            </span>
        </div>
    </div>
    {{/if_eq}}
    {{/with}}
    {% endverbatim %}
</script>

<script>
    var ws_server_path = "{{ ws_server_path }}";
    var request_session_sessionKey = "{{ request.session.session_key }}";
    const username_of_opponent = "{{ opponent_username }}";
    console.log(username_of_opponent)
</script>

<script src="{% static 'django_private_chat/django_private_chat.js' %}"></script>
{% endblock %}