html, main {
    height: 100%;
    margin: 0;
}

main [class="bookinstance-detail"] {
    /* height: 100%; */
    height: fit-content;
}

header {
    top: 0;
    /* left: 0; */
    width: 100%;
    z-index: 4;
    padding: 0 0;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 3rem;
}
h2 {
    font-family: 'Abril Fatface', cursive;
    font-size: 2rem;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

.full-height {
    height: 110vh;
}

main {
    /* height: 120vh; */
    
}


.navbar-light .navbar-nav.white .nav-link,
.navbar-light .navbar-brand.white {
    color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: black
}
.navbar {
    padding-left: 70px;
    padding-right: 40px;
}
.img-index, .img-search {
    height: 100vh;
}

.heading-index-front {
    font-size: 4rem;
    font-weight: 400;
}

.parallax-window {
	min-height: 900px;
	background: transparent;
}

.parallax-window2 {
    min-height: 600px;
	background: transparent;
}
.genres .line, .sign-in-cta .line {
    height: 2px;
    width: 100%;
    background: white;
    display: flex;
}


.genres a {
    text-decoration: none;
    color: white;
}

#img-genres {
    min-height: 400px;
	background: transparent;
}

.parallax-window .line,
.parallax-window2 .line {
    height: 2px;
    width: 100%;
    background: white;
    display: flex;
}

.btn.btn-secondary {
    font-size: 0.8rem;
}
.btn.btn-dark {
    background-color: black;
    font-size: 0.8rem;
}

.row.bookRow {
    margin-right: -30px;
}

.row.bookRow .col-4,
.row.bookRow .col {
    padding-right: 30px;
}
.bookRow-img {
    width: 100%;
    max-width: 250px;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.2);
}

.bookRow-background {
    width: 100%;
    padding: 25%;
}
.bookRow-single {
    position: relative;
}

.single-book:hover::before {
    position: absolute;
    content: "See More";
    font-size: 1.3rem;
    font-weight: 700;
    color: white;
    text-align: center;
    padding: 50% 20% 40% 20%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 2;
    background: var(--tooltip-color);
    opacity: .95;
}

.bookInstance-background {
    width: 100%;
    min-height: 100vh;
    padding: 28% 110px 28% 110px;
    /* padding-top: 120px ;
    padding-bottom: 60px; */
}
.bookInstance-img {
    width: 100%;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.2);
    /* position: sticky; */
    /* top: 50px; */
    /* bottom: 50px; */
    
}
.bookInstance-title {
    margin-bottom: 70px;
}
.bookInstance-condition {
    margin-bottom: 40px;
}
.bookInstance-cta {
    margin-bottom: 70px;
}

.bookInstance-details {
    padding: 28% 60px 20% 60px;
}
 .bookInstance-condition p {
    margin-bottom: 0;
 }

.carousel-indicators li {
    background-color:black;
}

.carousel-control-next, .carousel-control-prev {
    width: 7%;
    opacity: 1;
}

.form-control:focus {
    border-color: black;
}
.form-control.search {
    border-style: none;
    border-radius: 0%;
    border-bottom: 1px solid black;
    font-size: 1.5rem;
    color: black;
}

.alert {
    border-color: black;
}
.nav-link {
    color: gray;
}

.nav-link:hover {
    color: gray;
}
.nav-link.active {
    color: black;
    /* border-bottom: 1px solid gray; */
}

.table thead th {
    /* color: #ff7404; */
    border-bottom: none;
    border-top: none;
}

.table td {
    /* border-top: 1px dotted #ff7404; */
}
td a {
    color: black;
}
td a:hover {
    text-decoration: none;
    color: black;
}
footer {
    margin-top: 120px;
    padding: 50px;
    background-color: black;
    color:white;
}

@media (min-width: 1025px) {
    body {
        /* height: 100%; */
    }
}

@media (max-width: 1024px) {
    body, h5 {
        /* height: 80%; */
        font-size: 0.8rem;
    }
    h1, .heading-index-front {
        font-size: 2.2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3, h4, .form-control.search {
        font-size: 1.2rem;
    }
    .img-index, .img-search {
        height: 90vh;
        padding-top: 2rem;
    }
    .parallax-window,
    .parallax-window2 {
        min-height: 600px;
    }
   
}

@media (max-width: 768px) {
    body {
        /* height: 80%; */
        font-size: 0.7rem;
    }
    h1, .heading-index-front {
        font-size: 1.8rem;
    }
    .genres h1 {
        font-size: 1.8rem;
    }
    h2 {
        font-size: 1rem;
    }
    h3, h4, h5, .form-control.search {
        font-size: 0.8rem;
    }
    
    .parallax-window, 
    .parallax-window2 {
        min-height: 400px;
    }

    .img-index {
        height: 80vh;
        padding-top: 2rem;
    }

    .full-height {
        height: 90vh;
    }
    .bookInstance-background {
        padding: 120px 60px 120px 60px;
    }
    .bookInstance-details {
        padding: 120px 60px 60px 30px;
    }
    .bookInstance-title, .bookInstance-cta {
        margin-bottom: 50px;
    }
}
@media (max-width: 581px) {
    body {
        /* height: 80%; */
        font-size: 0.7rem;
    }
    h1, .heading-index-front {
        font-size: 1.3rem;
    }
    .genres h1 {
        font-size: 1rem;
    }
    h2 {
        font-size: 0.9rem;
    }
    h3, h4, h5, .form-control.search {
        font-size: 0.7rem;
    }
    .parallax-window, 
    .parallax-window2 {
        min-height: 300px;
    }
    .img-index, .img-search {
        display: none;
    }
    .full-height {
        height: 60vh;
    }
    .bookInstance-background {
        padding: 160px 60px 120px 60px;
    }
}