.author-info {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}
.general-info {
    font-size: 1rem;
}
 
p {
    margin-bottom: 0.5rem;
}

/* Hide some columns in my_books when on mobile */
@media only screen and (max-width: 900px) {
    .no_mobile_display{
        display: none;
    }
}

.index {
    background: url('../../../media/images/index.jpg') no-repeat ;
    background-size: cover;
}

.index-text > h1 {
    color: white;

    font-size: 10vh; /*viewport width*/
}

.lead-text {
    color: white;
    font-size: 16px;
    font-size: 3vh; /*viewport width*/
}


/* body {
    display: flex;
   
} */

html, body {
    height: 100%;
}