body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Cormorant Garamond', serif;
}

.site-footer {
    background-color: rgb(247, 235, 214);
}
.carousel-caption {
    color: black;
}

.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}


.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.btn.btn-danger {
    font-family: 'Josefin Sans', sans-serif;
}

.index-book-background {
}

.staff-picks {
    max-width: 300px;

}

.carousel-staff-picks {
    max-width: 150px;

}

.img-staff-picks {
    max-width: 250px;
}